:root {
    padding: 0;
    margin: 0;
}
button {
    padding-inline: 20px;
    padding-block: 10px;
    font-size: large;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: x-large;
}